<% function build_list(categories) {
    return categories.map(category => {
        let result = `<li>
        <a class="level is-marginless" href="${category.url}">
            <span class="level-start">
                <span class="level-item">${category.name}</span>
            </span>
        </a>`;
        if (category.hasOwnProperty('children')) {
            result += '<ul>' + build_list(category.children) + '</ul>';
        }
        if(category.display_posts) {
            result += '<ul>'
            site.categories.findOne({name: category.name}).posts.sort('title', 1).each(function(post) {
                result += `<li>
                    <a class="level is-marginless" href="${url_for(post.link ? post.link : post.path)}">
                        <span class="level-start">
                            <span class="level-item">${post.title}</span>
                        </span>
                    </a>
                </li>`;
            });
            result += '</ul>'
        }
        return result + '</li>';
    }).join('');
}
%>
<div class="card widget">
    <div class="card-content">
        <div class="menu">
            <h3 class="menu-label">
                <%= _p('common.category', Infinity) %>
            </h3>
            <ul class="menu-list">
            <%- build_list(_list_categories()) %>
            </ul>
        </div>
    </div>
</div>